@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Cantarell";
    margin: 30px;
    padding-right: 300px;
    background: #043f34;
    color: #ebf383;
    padding-top: 5px;
    min-height: 70px;
    border-bottom: #ebf383 10px solid;

}
